*{
    padding:0px;
    margin:0px;
}
html
{
    color: #1c1726;
    background-color: #005B98;
    font-family: monospace;
}
h1, h2, h3, h4, h5, h6
{
    font-family: monospace;
    font-weight: bolder;
    font-size:xx-large;
}
/*---------------------header----------------*/
header
{
    position: fixed;
    right:0;

    width:75%;
    height:50px;

    background-color: #19079B;
    border-top: #F5EDF3 5px solid;
    border-right: black solid 5px;
}

#hamburger
{
    display:none;
    position: absolute;

    right: 10px;
    top: 10px;
}

/*------------------navigation bar------------------*/
/*-buttons in the navbar-*/
.navbar a 
{
  float: left;
  height:20px;

  padding: 15px 32px;

  text-align: center;
  text-decoration: none;
  font-size: 16px;

  background-color: #65bebd;
}
.navbar a:hover 
{
  background-color: #82d1ce;
}
#currentLink
{
    background-color: #55ABAA;
}
/*the toggle darkmode button*/
#button 
{
  position: absolute;
  right: 5px;
  top: 0px;
}

/*bde0fe a2d2ff*/


/*----------------------profile div-------------------------*/
/*-picture in profile-*/
#pfp
{
    display: block;

    width:80%;
    height:auto;

    margin-top:5%;
    margin-left: auto;
    margin-right: auto;
    
    border-top: #F5EDF3 5px solid;
    border-left: #F5EDF3 5px solid;
    border-bottom: black solid 5px;
    border-right: black solid 5px;

    object-fit: contain;
}
/*-div in profile-*/
#profile
{
    font-size: large;

    position: fixed;

    width:24%;
    height:100%;

    background-color: #fdffff;

    border-top: #F5EDF3 5px solid;
    border-left: #F5EDF3 5px solid;
    border-bottom: black solid 5px;
    border-right: black solid 5px;
}
/*-content in profile-*/
.profsquare
{
    padding: 20px 2%;
    margin-left:2%;
    margin-right:2%;
}

/*----------------------featured section-----------------------*/
#feature
{
    float:right;
    margin-top: 50px;

    width:70%;

    padding-left: 5%;
    padding-bottom:5%;

    background-color: #55ABAA;

    border-top: #F5EDF3 5px solid;
    border-left: #F5EDF3 5px solid;
    border-bottom: black solid 5px;
    border-right: black solid 5px;

}
/*-content in featured-*/
#feature h3
{
    text-align: center;
    font-size:1.5em;
}
.bigtitles
{
    text-align: left;
    font-size: 300%;
}
.featsquare
{
    display:inline-block;

    vertical-align: text-top;

    max-height: 20%;
    min-height: 20%;
    max-width:30%;
    min-width: 30%;

    background-color: #fdffff;

    border-top: #F5EDF3 5px solid;
    border-left: #F5EDF3 5px solid;
    border-bottom: #000000 5px solid;
    border-right: #000000 5px solid;
}
.featbar
{
    color: white;
    text-align: left;
    background-color: #19079B;
}
.featbutton
{
    float: right;
}
.featimage
{
    max-width:100%;
    min-width: 100%;

    margin-left: auto;
    margin-right: auto;

    aspect-ratio: 4 / 3;
    object-fit: cover;
}
.featimagediv
{
    width:100%;
    height:100%;
}
.feattext
{
    padding:20px 10px;
}

/*----------------------portfolio section-----------------------*/
/*-div in portfolio-*/
#portfolio
{
    float:right;
    margin-top: 50px;

    width:70%;

    padding-left: 5%;

    background-color: #55ABAA;

    border-top: #F5EDF3 5px solid;
    border-left: #F5EDF3 5px solid;
    border-bottom: black solid 5px;
    border-right: black solid 5px;
}
/*-content in portfolio-*/
#portfolio h2
{
    text-align: center;
    font-size:1.5em;
}
.portbar
{
    color: white;
    text-align: left;
    background-color: #19079B;
}
.portsquare
{
    display:inline-block;

    vertical-align: text-top;

    margin-top: 10px;
    margin-bottom: 10px;

    max-height: 20%;
    min-height: 20%;
    max-width:45%;
    min-width: 45%;

    background-color: #fdffff;

    border-top: #F5EDF3 5px solid;
    border-left: #F5EDF3 5px solid;
    border-bottom: #000000 5px solid;
    border-right: #000000 5px solid;
}
.portimage
{
    max-width:100%;
    min-width: 100%;

    margin-left: auto;
    margin-right: auto;

    background-color: #005B98;
    object-fit: contain;

    aspect-ratio: 5 / 3;
    object-fit: cover;
    
}
.porttext
{
    padding:20px 10px;
}

#skillsquare
{
    float:left;
    margin-top: 50px;

    width:90%;

    padding-left: 1%;
    padding-bottom:5%;

    background-color: #fdffff;

    border-top: #F5EDF3 5px solid;
    border-left: #F5EDF3 5px solid;
    border-bottom: black solid 5px;
    border-right: black solid 5px;
}

/*----------------------contact me section-----------------------*/
/*-div in contact me-*/
#contact_me
{
    float:right;
    margin-top: 50px;

    width:70%;

    padding-left: 5%;

    background-color: #c3c3c3;

    border-top: #F5EDF3 5px solid;
    border-left: #F5EDF3 5px solid;
    border-bottom: black solid 5px;
    border-right: black solid 5px;
}
/*-content in contact_me-*/
#contact_me h2
{
    text-align: center;
    font-size:1.5em;
}
.contbar
{
    color: white;
    text-align: left;
    background-color: #19079B;
}
.contsquare
{
    display:inline-block;

    margin-top: 10px;
    margin-bottom: 10px;

    max-height: 20%;
    min-height: 20%;
    max-width:45%;
    min-width: 45%;

    background-color: #fdffff;

    border-top: #F5EDF3 5px solid;
    border-left: #F5EDF3 5px solid;
    border-bottom: #000000 5px solid;
    border-right: #000000 5px solid;
}
.contimage
{
    max-height: 20vw;
    min-height: 20vw;
    max-width:100%;
    min-width: 100%;

    margin-left: auto;
    margin-right: auto;

    background-color: #005B98;
    object-fit: contain;
    
}
.conttext
{
    padding:20px 10px;
}


/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #19079B; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #fdffff; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #c3c3c3; 
  }
/*--------------------------animations-------------------------*/

