/*Mobile*/
@media screen and (max-width: 800px) 
{
    *
    {
        margin:0px;
        padding:0px;
    } 
    header
    {
        position: sticky;
        top: 0;
        z-index:1;

        width:100%;
        height:70px;
    
    }
    
    #hamburger
    {
        display:block;
        position: absolute;
    
        right: 10px;
        top: 10px;
    }
    /*the toggle darkmode button*/
    #button 
    {
        display:block;
        position: absolute;
        
        left: 10px;
        top: 10px;
    }

    /*------------------navigation bar------------------*/
    .navbar 
    {
        margin-right: 60px;

        padding-top: 70px;
        width:100%;
    
        overflow: hidden;

    }
    /*-buttons in the navbar-*/
    .navbar a 
    {
        float: none;
        display: block;

        padding: 15px 32px;
        
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        
        color: #1c1726;
    }
    .navbar a:hover 
    {
        color: #1c1726;
    }

    

    /*bde0fe a2d2ff*/
    
    
    /*----------------------profile div-------------------------*/
    /*-picture in profile-*/
    #pfp
    {
        display: block;
    
        width:60%;
        height:auto;
        margin-left: auto;
        margin-right: auto;
        
        border-radius: 10%;
    
        object-fit: contain;
    }
    /*-div in profile-*/
    #profile
    {
        position: relative;

        width:100%;
        margin:0px;
        padding:0px;
        
    }
    /*-content in profile-*/

    #feature
    {
        position: relative;

        width:100%;
        margin:0px;
        padding:0px;

    }
    /*-content in portfolio-*/
    .featsquare
    {
        display:block;

        max-height: 20%;
        min-height: 20%;
        max-width:90%;
        min-width: 90%;
        margin-left:5%;
        margin-bottom:5px;
        width:100%;
    }

    
    /*----------------------portfolio section-----------------------*/
    /*-div in portfolio-*/
    #portfolio
    {
        position: relative;

        width:95%;
        margin:0px;
        padding-left:5%;

    }
    /*-content in portfolio-*/
    .portsquare
    {
        width:100%;
    }

    /*animations*/

    #myLinks
    {
        height:0px;
        transition: height 1s ease-in;
    }
}